 .container{
   background-image: url("style.png");
   background-position: center;
   background-size: cover;
   height: 80vh;
   border-radius: 50px;
   align-content: center;
   
 }
 button:hover{
   transform: translateY(-3px);
   box-shadow: 0px 10px 20px red;
 }
 button:active{
   transform: translateY(0px);
   box-shadow: 0px 10px 20px red;
 }